// Base

@import './base/vars';
@import './base/mixins';
@import './base/reset';

// Libs

@import './libs/swiper';

// Modules

@import './modules/container';
@import './modules/logo';
@import './modules/button';
@import './modules/button-burger';

// Layouts

@import './layouts/header';
@import './layouts/sub-menu';
@import './layouts/banner';
@import './layouts/range';
@import './layouts/what-is-apriori';
@import './layouts/composition';
@import './layouts/categories';
