@mixin laptop {
  @media (max-width: 64rem) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 48rem) {
    @content;
  }
}

@mixin iphone {
  @media (max-width: 30rem) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 22.5rem) {
    @content;
  }
}

@mixin sectionPseudoElement {
  content: '';
  display: block;
  margin: 6.25rem 0;
  width: 100%;
  height: 8.75rem;
  background: url('/assets/logo-2.png') center no-repeat;
  background-size: contain;

  @include laptop {
    margin: 4.375rem 0;
    height: 6.875rem;
  }

  @include tablet {
    margin: 3.125rem 0;
  }

  @include iphone {
    margin: 2.5rem 0;
    height: 4.0625rem;
  }

  @include mobile {
    margin: 1.875rem 0;
  }
}
