@font-face {
  font-family: 'Myriad Pro';
  src: url('../../fonts/myriadpro-regular.otf');
}

@font-face {
  font-family: 'Arkhip';
  src: url('../../fonts/arkhip-regular.ttf');
}

html {
  font-size: 1rem;
  font-family: 'Myriad Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: $black;
}

body {
  margin: 0;
  background-color: $lightBeige;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arkhip', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 5rem;
  line-height: 5.625rem;
  color: $brown;
  text-align: center;
  text-transform: uppercase;

  @include laptop {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @include iphone {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }
}

h3 {
  margin: 0 0 4.375rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @include laptop {
    margin: 0 0 3.125rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }

  @include tablet {
    margin: 0 0 2.5rem;
  }

  @include iphone {
    margin: 0 0 1.875rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h4 {
  margin: 0 0 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.5rem;

  @include laptop {
    margin: 0 0 0.625rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  @include iphone {
    font-size: 1rem;
    line-height: 1.1875rem;
  }
}

figure {
  margin: 0;
  padding: 0;
}
