// colors

$black: #231815;
$white: #ffffff;

$brown: #4a342d;
$lightBrown: #c4aa7f;

$lightBeige: #fcebcc;
$darkBeige: #f1ddac;

$buttonLightBeige: #f4e5a4;
$buttonDarkBeige: #d5ad64;

$buttonLightBrown: #4e362f;
$buttonDarkBrown: #251b17;

$inputColor: #9a855f;
$inputBorderColor: #ae9a74;
