.banner {
  position: relative;
  margin: 0 0 7.5rem;

  @include laptop {
    margin: 0 0 6.25rem;
  }

  @include tablet {
    margin: 0 0 5rem;
  }

  &-button {
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 2.875rem;
    height: 2.875rem;
    background: url(/assets/icons/icon-arrow.png) left center no-repeat;
    background-size: cover;

    cursor: pointer;

    @include laptop {
      width: 2.125rem;
      height: 2.125rem;
    }

    &-prev {
      left: 10%;
      transform: translateY(-50%);

      @include laptop {
        left: 3.375rem;
      }

      @include tablet {
        left: 2.5rem;
      }

      @include iphone {
        left: 0.3125rem;
      }
    }

    &-next {
      right: 10%;
      transform: translateY(-50%) rotate(180deg);

      @include laptop {
        right: 3.375rem;
      }

      @include tablet {
        right: 2.5rem;
      }

      @include iphone {
        right: 0.3125rem;
      }
    }
  }

  & img {
    max-height: 44.6875rem;
    width: 100%;
    object-fit: cover;
    object-position: top;

    @include laptop {
      height: 28.0625rem;
    }

    @include tablet {
      height: 21.0625rem;
    }

    @include mobile {
      height: 16.0625rem;
    }
  }
}
