.contacts {
  margin: 160px 0;

  @include laptop {
    margin: 120px 0;
  }

  @include tablet {
    margin: 100px 0;
  }

  @include iphone {
    margin: 80px 0;
  }

  & .container {
    display: flex;
    gap: 32px;

    @include tablet {
      flex-direction: column;
      gap: 40px;
    }

    @include tablet {
      gap: 30px;
    }
  }

  &-address {
    flex: 0 0 33%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @include laptop {
      font-size: 18px;
      line-height: 22px;
    }

    @include tablet {
      flex: 1 0 100%;
      text-align: center;
    }

    @include iphone {
      font-size: 16px;
      line-height: 19px;
    }

    & p:first-child {
      margin-top: 0;
    }
  }

  &-form {
    flex: 1 0 auto;
    display: flex;
    gap: 30px;
    padding: 30px;
    border: 1px solid $inputBorderColor;
    border-radius: 5px;

    @include laptop {
      gap: 20px;
    }

    @include tablet {
      flex: 1 0 100%;
      flex-wrap: wrap;
    }

    &__fieldset {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include laptop {
        gap: 20px;
      }

      @include tablet {
        flex: 1 1 100%;
      }

      @include iphone {
        gap: 15px;
      }

      & input,
      & textarea,
      & button {
        display: block;
        box-sizing: border-box;
      }

      & textarea {
        height: calc(52px * 2 + 30px);

        @include laptop {
          height: calc(52px * 2 + 20px);
        }

        @include iphone {
          height: calc(50px * 2 + 15px);
        }
      }
    }
  }
}
