.header {
  position: relative;
  background-color: $lightBeige;
  border-bottom: 1px solid rgba($color: $brown, $alpha: 0.15);

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  & .container {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include laptop {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    @include tablet {
      flex-wrap: wrap;
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
    }
  }

  &-nav {
    flex: 1 0 calc(100% / 3);
    order: 0;

    @include tablet {
      position: absolute;
      z-index: 50;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      order: 2;
      width: 100%;
      background-color: $darkBeige;
      border-bottom: 1px solid rgba($color: $brown, $alpha: 0.5);
    }

    &.visible {
      @include tablet {
        display: block;
      }
    }

    & ul {
      display: flex;
      justify-content: space-between;
      gap: 2%;
      margin: 0;
      padding: 0;

      @include tablet {
        display: block;
        max-width: 320px;
        padding: 40px 0;
        margin: 0 auto;
      }

      @include iphone {
        padding: 30px 0;
      }

      & li {
        list-style-type: none;

        @include tablet {
          margin-bottom: 20px;
          text-align: center;
        }

        & a {
          display: block;
          width: max-content;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.1875rem;
          color: $black;
          text-decoration: none;

          @include laptop {
            font-size: 0.875rem;
            line-height: 1.0625rem;
          }

          @include tablet {
            width: 100%;
            font-size: 1rem;
            line-height: 1.1875rem;
          }
        }
      }
    }
  }

  & .logo {
    flex: 1 1 calc(100% / 3);
    display: flex;
    justify-content: center;
    padding: 0 3%;
    order: 1;

    @include laptop {
      justify-content: flex-start;
      padding: 0 3rem;
    }

    @include tablet {
      padding: 0;
      order: 0;
    }
  }

  &-button-wrap {
    flex: 1 1 calc(100% / 3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    order: 2;

    @include tablet {
      order: 1;
    }

    & .button {
      @include iphone {
        display: none;
      }
    }

    & .button-burger {
      display: none;

      @include tablet {
        display: inline-block;
      }
    }
  }
}

ul.header-nav__submenu {
  display: none;

  @include tablet {
    display: block;
    border-top: 1px solid rgba($color: $brown, $alpha: 0.19);
  }
}
