.range {
  padding: 7.5rem 0 0;
  background: linear-gradient(
    180deg,
    $lightBeige 0%,
    $lightBeige 3.125rem,
    $darkBeige 12.5rem,
    $darkBeige calc(100% - 12.5rem),
    $lightBeige calc(100% - 3.125rem),
    $lightBeige 100%
  );

  @include laptop {
    padding: 6.25rem 0 0;
  }

  @include tablet {
    padding: 5rem 0 0;
  }

  &::after {
    @include sectionPseudoElement;
  }

  & .container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.875rem;

    @include mobile {
      gap: 3.125rem;
    }
  }

  &-card {
    flex: 1 1 calc((100% - 1.875rem) / 2);

    @include mobile {
      flex: 1 1 100%;
    }

    &__title {
      margin: 0;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: center;

      @include laptop {
        font-size: 1rem;
        line-height: 1.1875rem;
      }

      @include iphone {
        font-size: 0.8125rem;
        line-height: 1rem;
      }
    }

    &__description {
      margin: 1.25rem 0;
      font-size: 1rem;
      line-height: 1.1875rem;
      text-align: center;

      @include laptop {
        margin: 0.625rem 0 0.875rem;
      }

      @include tablet {
        margin: 0.625rem 0;
        font-size: 0.8125rem;
        line-height: 1rem;
      }

      @include iphone {
      }

      @include mobile {
        margin: 0.9375rem 0;
        font-size: 0.875rem;
        line-height: 1.0625rem;
      }
    }

    &__image {
      & > img {
        height: 21.875rem;
        width: 100%;
        object-fit: cover;
        margin: 0.625rem 0 1.25rem;
        border-radius: 0.3125rem;

        @include laptop {
          height: 15.625rem;
          margin: 0.875rem 0 1.25rem;
        }

        @include tablet {
          height: 11.5625rem;
          margin: 0.625rem 0 1.25rem;
        }

        @include iphone {
          height: 9.375rem;
          margin: 0.625rem 0 1.875rem;
        }

        @include mobile {
          height: 13.75rem;
          margin: 0.9375rem 0 0.625rem;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.25rem;

      @media (max-width: 42.5rem) {
        flex-direction: column-reverse;
        justify-content: center;
      }

      @include mobile {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__stock-button {
      padding: 0.3125rem 0.125rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #967f4d;
      background: none;
      border: none;
      border-bottom: 0.1875rem dotted #967f4d;
      cursor: pointer;

      @include laptop {
        font-size: 1rem;
        line-height: 1.1875rem;
      }

      @media (max-width: 42.5rem) {
        font-size: 0.9375rem;
        line-height: 1.125rem;
      }
    }
  }
}
