.sub-menu {
  background-color: $lightBeige;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;

  @include tablet {
    display: none;
  }

  & ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;

    @include laptop {
      justify-content: center;
      gap: 2rem;
    }

    & li {
      list-style-type: none;

      & a {
        display: block;
        width: max-content;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: $black;
        text-decoration: none;

        @include laptop {
          font-size: 0.875rem;
          line-height: 1.0625rem;
        }

        @include tablet {
          font-size: 1rem;
          line-height: 1.1875rem;
        }
      }
    }
  }
}
