.what-is-apriori {
  &::after {
    @include sectionPseudoElement;
  }

  &__title {
    max-width: 1200px;
    margin: 4.375rem auto 2.5rem;

    @include laptop {
      margin: 3.125rem auto 1.25rem;
    }

    @include tablet {
      margin: 2.5rem auto 1.25rem;
    }

    @include iphone {
      margin: 1.875rem auto 1.25rem;
    }
  }

  &__description {
    max-width: 39.375rem;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;

    @include laptop {
      max-width: 30.625rem;
      font-size: 0.9375rem;
      line-height: 1.125rem;
    }
  }
}
