.button {
  padding: 0.9375rem 4.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: $black;
  background: linear-gradient(180deg, $buttonLightBeige 0%, $buttonDarkBeige 100%);
  box-shadow: 0.625rem 0.625rem 1.25rem rgba($color: $black, $alpha: 0.19);
  border-radius: 0.3125rem;
  border: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;

  @include laptop {
    padding: 0.75rem 2.875rem;
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  @include tablet {
    box-shadow: 0.625rem 0.625rem 1.25rem rgba($color: $black, $alpha: 0.19);
  }

  @include iphone {
    padding: 0.625rem 2.875rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }

  &:hover {
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgba($color: $black, $alpha: 0.19);
  }

  &:active {
    background: linear-gradient(180deg, $buttonDarkBeige 0%, $buttonLightBeige 100%);
  }

  &_dark {
    color: $white;
    background: linear-gradient(180deg, $buttonLightBrown 0%, $buttonDarkBrown 100%);

    &:active {
      background: linear-gradient(180deg, $buttonDarkBrown 0%, $buttonLightBrown 100%);
    }
  }

  &_shadow {
    box-shadow: 0.625rem 0.625rem 1.25rem rgba($color: $brown, $alpha: 0.5);

    &:hover {
      box-shadow: 0.3125rem 0.3125rem 1.25rem rgba($color: $brown, $alpha: 0.5);

      @include tablet {
        box-shadow: 0.3125rem 0.3125rem 1.25rem rgba($color: $black, $alpha: 0.19);
      }
    }
  }
}
