.category {
  position: relative;
  margin: 0 0 12.5rem;

  @include laptop {
    margin: 0 0 10rem;
  }

  @include tablet {
    margin: 0 0 8.125rem;
  }

  @include iphone {
    margin: 0 0 6.25rem;
  }

  @include mobile {
    margin: 0 0 5rem;
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    position: absolute;
    z-index: 10;
    top: calc(28.125rem / 2 + 6.5625rem);
    height: 1.875rem;
    width: 1.875rem;
    background: url('/assets/icons/icon_arrow_brown.png') center no-repeat;
    background-size: cover;

    @include laptop {
      top: calc(18.75rem / 2 + 5rem);
    }

    @include tablet {
      top: calc(15.625rem / 2 + 4.375rem);
    }

    @include iphone {
      top: auto;
      bottom: calc(13.75rem / 2 + 5rem);
    }

    @include mobile {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  & .swiper-button-prev {
    left: -2.8125rem;
    transform: translateY(-50%);

    @include laptop {
      left: -2.5rem;
    }

    @include tablet {
      left: -2.1875rem;
    }

    @include iphone {
      transform: translateY(50%);
      left: -1.875rem;
    }

    @include mobile {
      left: -1.25rem;
    }
  }

  & .swiper-button-next {
    right: -2.8125rem;
    transform: translateY(-50%) rotate(180deg);

    @include laptop {
      right: -2.5rem;
    }

    @include tablet {
      right: -2.1875rem;
    }

    @include iphone {
      right: -1.875rem;
      transform: translateY(50%) rotate(180deg);
    }

    @include mobile {
      right: -1.25rem;
    }
  }

  &-items {
    margin: 0 0 3.75rem;

    @include laptop {
      margin: 0 0 2.5rem;
    }

    @include iphone {
      margin: 0 0 1.25rem;
    }

    &-slide {
      display: flex;
      gap: 8.75rem;

      @include laptop {
        gap: 1.875rem;
      }

      @include iphone {
        flex-wrap: wrap;
      }

      &__info {
        flex: 1 1 auto;

        @include iphone {
          flex: 1 0 100%;
        }
      }

      &__title {
        margin: 5.625rem 0 0;
        font-family: 'Myriad Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.125rem;

        @include laptop {
          margin: 2.5rem 0 0;
          font-size: 1.5rem;
          line-height: 1.8125rem;
        }

        @include tablet {
          margin: 0;
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        @include iphone {
          font-size: 1.125rem;
          line-height: 1.375rem;
        }
      }

      &__description {
        margin: 1.25rem 0 1.875rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;

        @include laptop {
          font-size: 0.9375rem;
          line-height: 1.125rem;
        }

        @include tablet {
          margin: 0.625rem 0 1.25rem;
        }

        @include iphone {
          margin: 0.625rem 0 1.875rem;
          font-size: 0.875rem;
          line-height: 1.0625rem;
        }

        @include mobile {
          margin: 0.9375rem 0 1.25rem;
        }
      }

      &__image {
        position: relative;
        flex: 0 0 50%;
        height: 28.125rem;

        @include laptop {
          height: 18.75rem;
        }

        @include tablet {
          height: 15.625rem;
        }

        @include iphone {
          flex: 1 0 100%;
          height: 13.75rem;
        }

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.3125rem;
        }

        & .button {
          position: absolute;
          right: 1.25rem;
          bottom: 1.25rem;
        }
      }
    }
  }

  &-thumbs {
    & .swiper {
      &-slide {
        height: 9.25rem;

        @include laptop {
          height: 5.3125rem;
        }

        @include tablet {
          height: 3.75rem;
        }

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.3125rem;
        }

        &-thumb-active img {
          filter: brightness(70%);
        }
      }
    }
  }
}
